<div class="container"><h3>Users page</h3></div>

<div class="container">
    <form class="row g-3 needs-validation" >
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom01" placeholder="firstname" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationCustom02" placeholder="lastname" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="text" class="form-control" id="validationCustomUsername" placeholder="username" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Email</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="email" class="form-control" id="validationCustomUsername" placeholder="absd@gmail.com" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>



  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Passwrod</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend"></span>
      <input type="password" class="form-control" id="validationCustomUsername" placeholder="password" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a password.
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Phone</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">+998</span>
      <input type="password" class="form-control" id="validationCustomUsername" placeholder="90-123-45-67" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a password.
      </div>
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>     
</div>